In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import re
import sys, getopt
import csv
import unidecode

In [3]:
HOME_PAGE = "https://fbref.com/"
BASE_MATCH_LOG_URL = "https://fbref.com/en/players/19cda00b/matchlogs/2021-2022/summary/Angel-Di-Maria-Match-Logs"
BASE_PLAYER_URL = "https://fbref.com/en/players/"

In [4]:
def unidecodePlayersName(name):
    players_name = unidecode.unidecode(name)
    return players_name

In [5]:
def joined_player_name(name):
    return "-".join(name.split(" "))

In [6]:
def generatePlayersUrl(id, name):
    players_name= unidecodePlayersName(name)
    players_name = joined_player_name(players_name)
    url = BASE_PLAYER_URL + id + "/" + players_name
    return url

In [7]:
def generatePlayerMatchLogsUrl(id,name,path):
    players_name= unidecodePlayersName(name)
    log_name = joined_player_name(players_name) + "-Match-Logs"
    matchLogUrl = BASE_PLAYER_URL + id + "/matchlogs/" + path.split("/")[-3] + "/summary/" + log_name
    return matchLogUrl

In [10]:
df_joueur = pd.read_csv("../data/joueur.csv")

In [11]:
df_joueur.head()

         id               Joueur
0  ad713dff         Jamal Aabbou
1  13792bac         Rayane Aabid
2  9a5b8092        Mohamed Aakib
3  a7e4760c        Ismael Aaneba
4  5f09991f  Patrick van Aanholt

In [12]:
df_joueur.columns = ["id", "name"]

In [13]:
df_joueur.name = df_joueur.name.apply(unidecodePlayersName)

In [14]:
df_joueur[df_joueur.name == "Angel Di Maria"]

            id            name
6091  19cda00b  Angel Di Maria

In [15]:
df_joueur["url"] = df_joueur.apply(lambda x : generatePlayersUrl(x["id"], x["name"]), axis=1)

In [16]:

df_joueur["match_logs"] = df_joueur.apply(lambda x : generatePlayerMatchLogsUrl(x["id"], x["name"], BASE_MATCH_LOG_URL), axis=1)

In [17]:
df_joueur.head()

,id,name,url,match_logs
0,ad713dff,Jamal Aabbou,https://fbref.com/en/players/ad713dff/Jamal-Aa...,https://fbref.com/en/players/ad713dff/matchlog...
1,13792bac,Rayane Aabid,https://fbref.com/en/players/13792bac/Rayane-A...,https://fbref.com/en/players/13792bac/matchlog...
2,9a5b8092,Mohamed Aakib,https://fbref.com/en/players/9a5b8092/Mohamed-...,https://fbref.com/en/players/9a5b8092/matchlog...
3,a7e4760c,Ismael Aaneba,https://fbref.com/en/players/a7e4760c/Ismael-A...,https://fbref.com/en/players/a7e4760c/matchlog...
4,5f09991f,Patrick van Aanholt,https://fbref.com/en/players/5f09991f/Patrick-...,https://fbref.com/en/players/5f09991f/matchlog...

In [18]:
df_joueur["match_logs"][0]

'https://fbref.com/en/players/ad713dff/matchlogs/2021-2022/summary/Jamal-Aabbou-Match-Logs'

In [19]:
df_joueur.shape

(27101, 4)

In [20]:
df_joueur.to_csv("../data/joueur_url.csv", index=False)